img {
    height: 3.5rem;
}  

.header {
    justify-content: center;
    background-color:  rgb(56, 54, 54);
    height: 10%;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

h1{
    padding-left: 1.2rem;
    color: white;
}
